#container {
  width: 640px;
  margin: 0 auto;
  border: 10px solid #bebebe;
  font-family: sans-serif;
}

#header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #e7e3e3;
  color: #969696;
  padding: 0 25px;
}

#header p:first-child {
  flex-basis: 45%;
}

#header p:nth-child(2) {
  flex-basis: 35%;
  padding-left: 30px;
}

.product {
  display: flex;
  height: 80px;
  padding: 0 25px;
  align-items: center;
}

.product h3 {
  margin: 0;
  color: #6e6e6e;
}
.product p {
  margin: 0;
  color: #969696;
}
.product div:first-child {
  /* flex-grow: 1; */
  flex-basis: 45%;
}

.input-group {
  width: 200px !important;
}

.product input[type="text"] {
  width: 40%;
  height: 40px;
  margin-right: 0;
}
.number {
  color:red;
  font-size: 20px;
  opacity: 0.7;
}
.x {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}
hr {
  margin: 0 25px;
  color: #969696;
}
#resumen {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #969696;
}
#resumen div:first-child {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
}

select {
  width: 62%;
  height: 40px;
  color: #969696;
  background: white;
  cursor: pointer;
}

select option {
    margin: 40px;
    background: white;
}

#resumen>p {
  flex-basis: 22%;
  margin-top: 15px;
}

#resumen #text {
  height: 80px;
  display: flex;
  align-items: center;
}

#resumen #text p {
  margin-bottom: 0;
  margin-right: 30px;
}

#buttons {
  padding: 0 76px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.button {
  width: 164px;
  height: 42px;
  color: white;
  opacity: 0.7;
  border: none;
}

.button:first-child {
  background: #6e6e6e;
}

.button:last-child {
  background: red;
}

button {
  cursor: pointer;
}
